
.card {
  transform-style: preserve-3d;

  &:hover {
    transform: rotateY(180deg)
  }
}
.side {
  @apply absolute w-full h-full flex flex-col ;
  backface-visibility: hidden;
}
.backSide {
  transform: rotateY(180deg);
}

